In [40]:
import pandas as pd
import numpy as np
import seaborn as sns

#Import All Relevant Data into Data Frames
rental_data_1 = pd.read_excel('branch_locations.xlsx')
rental_data_2 = pd.read_excel('car_costs.xlsx')
rental_data_3 = pd.read_excel('car_id_mapping.xlsx')
rental_data_4 = pd.read_excel('car_revenue.xlsx')

In [16]:
#display headers to see what is included in each
print(rental_data_1.head(5))
print(rental_data_2.head(5))
print(rental_data_3.head(5))
print(rental_data_4.head(5))

   branch_id         city    state  airport_ind
0          1    Galveston    Texas        False
1          2        Tampa  Florida         True
2          3      Atlanta  Georgia         True
3          4  San Antonio    Texas        False
4          5   Fort Worth    Texas         True
       car_id  car_cost_monthly  car_insurance
0  8547510613            539.69          62.89
1  7957998003            593.67         105.52
2  4421017736            488.73         102.07
3  4033257977            596.63         130.52
4  7974122404            429.32          50.92
       car_id       car_make car_model  car_model_year
0  8547510613  Mercedes-Benz  CL-Class            2018
1  7957998003       Cadillac       XLR            2017
2  4421017736         Toyota   Corolla            2018
3  4033257977           Ford  E-Series            2018
4  7974122404            BMW        M5            2018
    car_id rented_date  rented_length  branch_id  price_per_day  driver_age  \
0  2314614  2018-01-03              3         16            148          65
1  2314614  2018-01-26              1         39            103          58
2  2314614  2018-02-10              4         46            198          44
3  2314614  2018-02-20              6         32            237          51
4  2314614  2018-03-06              5         32             97          49

  driver_gender  accident_ind
0             M           NaN
1             M           NaN
2             F           1.0
3             M           NaN
4             F           NaN

In [23]:
# My first goal is to merge all of this data into a single data frame of tidy data where the details from all available charts are included for each individual rental

#Merging both sheets containing data about the car by car_id
full_car_data = pd.merge(rental_data_3, rental_data_2, how="inner", on='car_id')

#Merging branch location data with rental revenue data
location_revenue_data = pd.merge(rental_data_1, rental_data_4, how="inner", on='branch_id')

#Lastly merging those two frames to get a final set of tidy data

tidy_rental_data = pd.merge(full_car_data, location_revenue_data, how="inner", on='car_id')

In [44]:
# Check Final Data
print(tidy_rental_data.head(5))
print(tidy_rental_data.dtypes)

       car_id       car_make car_model  car_model_year  car_cost_monthly  \
0  8547510613  Mercedes-Benz  CL-Class            2018            539.69
1  8547510613  Mercedes-Benz  CL-Class            2018            539.69
2  8547510613  Mercedes-Benz  CL-Class            2018            539.69
3  8547510613  Mercedes-Benz  CL-Class            2018            539.69
4  8547510613  Mercedes-Benz  CL-Class            2018            539.69

   car_insurance  branch_id         city           state  airport_ind  \
0          62.89          3      Atlanta         Georgia         True
1          62.89          4  San Antonio           Texas        False
2          62.89          8      Raleigh  North Carolina         True
3          62.89          9   Birmingham         Alabama         True
4          62.89         13      Salinas      California         True

  rented_date  rented_length  price_per_day  driver_age driver_gender  \
0  2018-03-28              7            233          35             M
1  2018-05-11              2            250          55             F
2  2018-01-18              6            233          58             M
3  2018-10-13              6             89          29             M
4  2018-09-10              6            133          55             F

   accident_ind
0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
car_id                       int64
car_make                    object
car_model                   object
car_model_year               int64
car_cost_monthly           float64
car_insurance              float64
branch_id                    int64
city                        object
state                       object
airport_ind                   bool
rented_date         datetime64[ns]
rented_length                int64
price_per_day                int64
driver_age                   int64
driver_gender               object
accident_ind               float64
dtype: object

In [46]:
#Both the tidy data frame and the one containing the full car data are useful and so will be exported to excel files

writer = pd.ExcelWriter('Lariat_Analysis.xlsx', engine='xlsxwriter')
tidy_rental_data.to_excel(writer, sheet_name='Rental Data')
full_car_data.to_excel(writer, sheet_name='Fleet Data')
writer.save()